@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Gaegu");
body {
  margin: 0;
  padding: 0;
  font-family: Gaegu;
  font-size: 25px;
  color: #47270d;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}